gemSpec_IDP_Sek_3.2.0 A_23389-01 | Falscher RFC referenziert

[A_23389-01](https://gemspec.gematik.de/docs/gemSpec/gemSpec_IDP_Sek/latest/#A_23389-01)
> Zertifikats-Pinning für die Verbindung zum sektoralen IDP unterstützen. Es DARF Zertifikate NICHT akzeptieren, deren Zertifikatskette dem Hersteller nicht vertrauenswürdig erscheint [**RFC746**].

[Quellenangabe](https://gemspec.gematik.de/docs/gemSpec/gemSpec_IDP_Sek/latest/#6.5.2):

> [**RFC746**] | The SUPDUP Graphics Extension https://datatracker.ietf.org/doc/html/rfc746

Beides sollte auf RFC 7469 verweisen, **nicht** RFC 746:

RFC 7496: Public Key Pinning Extension for HTTP
https://datatracker.ietf.org/doc/html/rfc7469